se-graphic-header {
  background-color: #666666;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  position: relative;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

se-graphic-header .gradient {
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
  left: 0;
  margin: 0;
  padding: 25px 15px 25px 15px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: auto;
}

se-graphic-header .primary,
se-graphic-header .secondary {
  display: block;
  float: left;
  font-size: 0.9em;
  font-weight: 400;
  white-space: nowrap;
}

se-graphic-header .primary {
  font-weight: 700;
  margin-right: 0.25em;
}

se-graphic-header .no-image {
  font-size: 1.25em;
  font-weight: 400;
  margin: 0 0 1em 0;
  opacity: 0.75;
  padding: 0;
  text-align: center;
}

se-graphic-header se-deselect-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

se-graphic-header se-lightbox-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
